<footer class="bg-warning text-light py-4">
    <div class="container">
        <div class="row">
<!-- column one  -->
            <div class="col-md-3 mb-4">
                <h5>GUANGO FAIR PRICE</h5>
                <p>Providing quality products at fair prices</p>
                <ul class="list-unstyled ">
                    <li><a class='text-light' href='index.html'>FAQs</a></li><br>
                    <li><a class='text-light' href='index.html'>Privacy policy</a></li><br>
                    <li><a class='text-light' href='index.html'>Terms and conditions</a></li><br>
                </ul>
            </div>
<!-- column two  -->
            <div class="col-md-3 mb-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a class='text-light' href='index.html'>Home</a></li><br>
                    <li><a class='text-light' href='about.html'>About Us</a></li><br>
                    <li><a class='text-light' href='services.html'>Products</a></li><br>
                    <li><a class='text-light' href='contact.html'>Contact</a></li><br>
                </ul>
            </div>
<!-- column three -->
            <div class="col-md-3 mb-4">
                <h5>Contact Us</h5>
                <p><strong>Email:</strong>info@nafuu.co.ke</p>
                <p><strong>Address:</strong>Nairobi, Kenya</p> 
                <p><strong>Phone:</strong> +254 700 123456</p>
            </div>
<!-- column four -->
                <div class="col-md-3 mb-4">
                    <h5>CONNECT WITH US</h5>
                    <a href=""></a>
                    <img src="../static/images/facebook.webp" alt="">
                    <a href=""></a>
                    <img src="../static/images/instagram.webp" alt="">
                    <a href=""></a>
                    <img src="../static/images/tiktok.webp" alt="">
                </div>
            </div>
        </div>
        <hr class="m-5 text-black" height="10px">
        <div class="text-center mt-4">
            <p class="mb-0">&copy; 2024 All Rights Reserved|<b>Privacy policy</b></p>
        </div>
    </div>
</footer>
