<marquee behavior="" direction="left">
<nav class="navbar navbar-expand-lg navbar-light bg-light text-black">
<div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('category_page', category_name='diapers') }}">Diapers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('category_page', category_name='beverages') }}">Beverages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('category_page', category_name='coffee') }}">Coffee, Cocoa & Tea</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('category_page', category_name='cooking') }}">Cooking Oil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('category_page', category_name='dairy') }}">Dairy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('category_page', category_name='electronics') }}">Electronics & Appliances</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('category_page', category_name='vegetables') }}">Fruits and Vegetables</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('category_page', category_name='kitchen') }}">Kitchen Essentials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('category_page', category_name='laundry') }}">Laundry & Home Care</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('category_page', category_name='maize') }}">Maize Flour</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('category_page', category_name='noodles') }}">Noodles & Spaghetti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('category_page', category_name='personal') }}">Personal Care</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('category_page', category_name='cereals') }}">Rice & Cereals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('category_page', category_name='spices') }}">Sauces & Spices</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('category_page', category_name='snacks') }}">Snacks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('category_page', category_name='spreads') }}">Spreads</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('category_page', category_name='stationery') }}">Stationery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('category_page', category_name='sugar') }}">Sugar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('category_page', category_name='sweets') }}">Sweets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('category_page', category_name='wellness') }}">Wellness</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('category_page', category_name='wheat') }}">Wheat Flour</a>
        </li>
      </ul>
    </div>
</div>
</nav>
</marquee> 
